#modal-dialog {

	font-family: "Intro Rust", sans-serif;
}

#modal-artist-dialog {
	display: flex;
	flex-direction: row;
}

#left-dialog h3{
	margin-top: 10%;
	margin-bottom: 0;
}
#left-dialog h1 {
	margin-top: 3px;

}
#genres-dialog {
	margin-top: 0;
	margin-bottom: 0;
}
#popularity-dialog {
	margin-bottom: 0;
	margin-top: 2px;
}

#right-dialog {
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin-right: 3%;
	border-radius: 5px;
}

#artist-img-dialog {
	width: 100%;
	border-radius: 5px;
}

#hr-dialog {
	opacity: 0.4;
}


#modal-album-dialog {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	justify-content: flex-start;

}

.album-info-dialog {
	margin-right: 2%;
}

.img-dialog {
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.album-img-dialog {
	border-radius: 5px;
	width: 100%;
}

.album-text-dialog {
	width: 150px;
}
