.result-container {
    width: 100%;
}

.result-container > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result-container > div:after {
    content: "";
    width: 320px;
}
