<div *ngIf="loaded">
    <div *ngIf="wordData?.length > 0; else displayMessage" id="wordcloud">
        <div AgWordCloud
             #word_cloud_chart= ag-word-cloud
             [wordData]="wordData"
             [options]="options"
             [color]="colors"
             class="font mat-elevation-z8">
        </div>
    </div>

    <ng-template #displayMessage>
        <div class="displayMessage mat-elevation-z8">
            <p>We could not make a wordcloud for your genres...</p>
            <p>Get yours by following any artists!</p>
        </div>
    </ng-template>
</div>
