.example-container {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    max-height: 363px;
    min-width: 500px;
}

.no-artist-wrap {
    background-color: white;
    width: auto;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-scaler {
    width: 150px;
    height: 150px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  font-family: "Intro Rust", sans-serif;
}

mat-row:hover{
    background-color: lightgrey
}

mat-row:active{
    background-color: grey
}

p {
    font-family: "Intro Rust", sans-serif;
}

@media screen and (max-width: 600px) {
    .mat-column-popularity {
        display: none;
    }
    .example-container {
        min-width: 300px;
    }
}
