
a {
  text-decoration: none;
  color: black;
}
.title-blue {
  color: #13738c;
  margin: 5px;
}
.under-line {
  width: 200px;
  height:5px;
  background-color: #13738c;
}
.logo {
  width: 100px;
}
.navbar-container {
  background-color: white;
  width: 100%;
  font-family: "Intro Rust", sans-serif;
}
.navbar-top-container {
  font-size: 10px;
}
.navbar-top-container ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.navbar-top-container ul li {
  list-style-type: none;
}
.navbar-top-container ul li a {
  display: block;
  padding: 10px;
  color: #a52842;
  transition: all .4s ease-in-out;
}
.navbar-top-container ul li a:hover {
  color: #13738c;
}
.navbar-bottom-container {
  display: flex;
}
.nav-bottom-left-container {
  flex: 1 1 auto;
}
.nav-bottom-right-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}
.nav-bottom-right {
  widows:300px;
  margin-right: 20px;
}
.nav-bottom-right h3 {
  margin: 0;
}
.nav-bottom-right p {
  font-size: 10px;
  margin: 0;
  margin-top: 3px;
}
.nav-bottom-right {
  color: #5a5a5a;
}
.nav-bottom-left {
  margin-left: 20px;
}
.nav-bottom-left ul {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.nav-bottom-left ul li a {
  display: block;
  color: #5a5a5a;
  transition: all .4s ease-in-out;
}
.nav-bottom-left ul li a:hover {
  color: black;
}
.nav-bottom-left ul li {
  list-style-type: none;
  padding: 10px;
}
.sort-by {
  display: flex;
  margin-top: 10px;
}
.filter-by {
  display: flex;
  font-size: 10px;
}
.input-select:focus {
  outline-style: none;
}

