<div *ngIf="user" class="navbar-search">
    <div class="container">
        <div class="left-container">
            <div class="nav-bottom-left">
                <h3 class="title-blue">{{user.username}}s page</h3>
                <div class="under-line"></div>
                <ul class="search-type-selectors">
                    <li id="first"><a [ngClass]="{'selected-type' : underPage == 'my-info'}" routerLink="my-info" routerLinkActive="disabled" data-name="my-info" (click)="selectUnderPage($event)">My info</a></li>
                    <li><a [ngClass]="{'selected-type' : underPage == 'history'}" routerLink="history" routerLinkActive="disabled" data-name="history" (click)="selectUnderPage($event)">Search history</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
