<div class="artist-container">
    <div class="image-wrapper">
        <img src="{{artist.imageLink}}" alt="artist picture"/>
    </div>
    <h4>{{artist.name}}</h4>
    <p class="track-info">{{artist.albums ? artist.albums.length : 0}} albums</p>
    <div class="bottom-buttons">
        <div class="bottom-button border-right">
            <a href="#">Albums</a>
        </div>
        <div class="bottom-button">
            <span (click)="openDialog()">Info</span>

        </div>
    </div>
</div>
