<div class="artist-container">
    <div class="image-wrapper">
        <img src="{{artist.imageLink}}" alt="artist picture"/>
    </div>
    <div (click)="favorite()" class="favorite" [ngClass]="[isFavorite ? 'favorite-toggled' : 'favorite-untoggled']">
    </div>
    <h4>{{artist.name}}</h4>
    <p class="track-info">{{artist.albums ? artist.albums.length : 0}} albums</p>
    <div class="bottom-buttons">
        <div class="bottom-button">
            <span (click)="openDialog('albums')">albums</span>
        </div>
    </div>
