.title-blue {
	color: #13738c;
	margin: 5px;
}
.under-line {
	width: 200px;
	height:5px;
	background-color: #13738c;
}
.navbar-search {
	background-color: white;
	font-family: "Intro Rust", sans-serif;
}
.container {
	background-color: white;
	margin-left: -18px;
	margin-right: -18px;
	margin-top: -20px;
	display: flex;
    flex-wrap: wrap;
}
.left-container {
    width: 300px;
}
.right-container {
    width: 280px;
	display: flex;
    align-items: flex-end;
}
.center-container {
    width: 280px;
    display: flex;
    font-size: 15px;
    align-items: flex-end;
}
.filter-by {
    width: 280px;
	margin-right: 20px;
    font-size: 15px;
}
.filter-by-inner {
    display: flex;
    color: black;
    font-size: 15px;
    align-items: center;
}
.filter-by p {
	font-size: 15px;
}
.nav-bottom-left {
	margin-left: 20px;
}
.nav-bottom-left ul {
	display: flex;
	margin: 0;
	padding: 0;
	font-size: 13px;
}
.nav-bottom-left ul li a {
	display: block;
	color: #5a5a5a;
	transition: all .4s ease-in-out;
}
.nav-bottom-left ul #first {
    padding-left: 0;
}
.nav-bottom-left ul li a:hover {
	color: black;
}
.nav-bottom-left ul li {
	list-style-type: none;
	padding: 10px;
}
.sort-by {
	display: flex;
    align-items: center;
}
.filter-box {
    display: flex;
    font-size: 10px;
}
.input-select {
    margin-left: 10px;
    border-image: none;
}
.input-select:focus {
	outline-style: none;
}

.search-type-selectors a:hover {
    cursor: pointer;
}
.selected-type {
    color: black !important;
    font-size: 16px;
}


@media screen and (max-width: 864px) {
    .container {
        flex-direction: column;
        margin: 0;
    }
    .center-container {
        margin-left: 20px;
    }
    .right-container {
        margin-left: 20px;
    }
}
